/******************************************************************************************************/
/******************************************************************************************************/
/********************************************** CONTENTS */

/* Universal */
/* Layout */
/* Objects */
/* Text / Lists */
/* Buttons */
/* Toggled / Added / Removed Classes */
/* Toggled Animations Classes */
/* Keyframes Animations */

/******************************************************************************************************/
/******************* Universal */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/******************************************************************************************************/
/******************* Layout */


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/falling-stars-beautiful-night-background/2799006.jpg');
  background-repeat: no-repeat;
}

.screen {
  width: 850px;
  height: 700px;
  position: relative;
  border: 20px solid black;
  border-left: 20px solid rgb(18, 18, 18);
  border-right: 20px solid rgb(18, 18, 18);
  box-shadow: 0 0 2px rgb(85, 85, 85);
  background-image: url('../images/ghibli_night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 15%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

main {
  width: 100%;
  height: 70%;
  position: relative;
}

.message-box {
  width: 70%;
  min-height: 100%;
  padding: 30px;
  margin: 10px;
  margin-top: 40px;
  box-shadow: 0 0 2px rgb(85, 85, 85);
  background: rgba(43, 43, 43, 0.55);
  color: white;
}

.stats-box {
  width: 200px;
  position: relative;
  top: -105px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(238, 212, 126, 0.728); 
  box-shadow: 0 0 2px rgb(85, 85, 85);
  border-radius: 2px;
}

.interactions {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(81, 159, 32, 0.728);
}

/******************************************************************************************************/
/******************* Objects */

.night-time {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.object-box {
  height: 32px;
  width: 32px;
  position: absolute;
  top: -25%;
  left: 44%;
  z-index: 10;
}

.object-box img {
  height: 50px;
  width: 50px;
}

.drop-game img {
  height: 65px;
  width: 70px;
}

.drop-book img,
.drop-math img,
.drop-hoop img {
  height: 120px;
  width: 120px;
}

.blanket {
  position: absolute;
  top: 76.5%;
  right: 25%;
  z-index: -2;
}

.game-over {
  position: absolute;
  z-index: 20;
}



/******************************************************************************************************/
/******************* Text / Lists */

.name-age {
  margin-bottom: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.name, 
.age {
  width: 100%;
  padding: 8px;
  display: inline-block;
  background: #fffae8;
  border-radius: 5%;
  box-shadow: 0 0 2px rgb(159, 159, 159);
  text-align: center;
}

ul {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
}

li {
  padding-top: 5px;
  list-style: none;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* progress bar code modified from: 
https://stackoverflow.com/questions/7190898/progress-bar-with-html-and-css */

.progress-bars {
  padding: 1px;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.bar {
  width: 1%;
  height: 10px;
  background-color: rgb(59, 186, 215);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/******************************************************************************************************/
/******************* Buttons */

button,
button:focus,
button:active,
button:hover {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.start-game {
  position: relative;
  background: none;
  outline: none;
  border: none;
  font-family: 'Epilogue', sans-serif;
  font-size: 30px;
  text-shadow: 0 0 1px rgb(174, 247, 255);
  color: rgba(255, 255, 255, 0.502);
  animation: start-float 2s infinite;
}

.play-again-button {
  z-index: 20;
  background: none;
  font-size: 20px;
  transition: font-size 100ms;
  animation: start-float 2s infinite;
}

.pause {
  margin: 10px;
  background-color: rgba(240, 128, 128, 0.803);
  color: white;
}

.pause:hover, 
.pause:active {
  background-color: rgb(240, 128, 128);
}

.agree, 
.name-choice,
.interactions button {
  width: 80px;
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: rgb(69, 172, 235);
  color: white;
  letter-spacing: 1px;
}

.agree:hover, 
.name-choice:hover,
.interactions button:hover {
  background-color: rgb(123, 195, 240);
  transition: background-color 250ms;
}

.interactions img:hover {
  cursor: pointer;
}

.options-boxes {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option-pop-out  {
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.option-pop-out img {
  width: 33%;
  height: 100%;
  padding: 0 5%;
}

.option-pop-out + button,
#tuck-in {
  margin: 0 auto;
}

#tuck-in {
  background: rgb(179, 128, 250);
}

#tuck-in:hover {
  background: rgb(166, 102, 255);
}

/******************************************************************************************************/
/******************* Toggled / Added / Removed Classes */

.instructions {
  height: 120px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 35%;
  left: 25%;
  background: rgba(43, 43, 43, 0.55);
  color: white;
  border-radius: 2px;
  text-align: center;
  line-height: 2;
}

.instructions p {
  margin-bottom: 0;
}

.instructions input {
  margin: 8px 0 10px 0; 
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.653);
  text-align: center;
}

.instructions input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.838);
}

.display-none {
  display: none;
}

.moon {
  width: 150px;
  height: 150px;
  position: relative;
  left: 40%;
  top: 5%;
  animation: moon-float 5s infinite;
} 

.moon-top {
  height: 100px;
  width: 100px;
  position: relative;
  top: 0;
  left: 40%;
}

.gotchi {
  position: absolute;
  top: 68%;
  left: 36%;  
  z-index: 2;
  height: 150px;
  width: 150px;
}

.gotchi-intro {
  top: 70%;
  left: 38%;
}

.star {
  width: 45px;
  padding: 5px;
}

.star-box {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 1;
}

/******************************************************************************************************/
/******************* Toggled Animations Classes */


.night-time-on {
  z-index: 30;
  animation: lights-out 5s;
}

.white-out {
  background: rgb(255,255,255);
  animation: white-out 5s;
  z-index: 10;
}

.lie-down {
  animation: lying-down 5s;
}

.die-down {
  transform: rotate(-90deg);
  animation: dying-down 5s;
  top: 68%;
}

.float-down {
  animation: float-down 6s;
}

.warning {
  animation: warning-blink 1s infinite;
}

.egg-down {
  animation: egg-down 5s;
}

.blanket-slide {
  animation: blanket-slide 4.5s;
  z-index: 20;
}

.pace {
  animation: pace 10s infinite linear;
}

.food-drop {
  animation: food-down 1.5s ease-out;
}

.ball-drop {
  animation: ball-down 5.5s ease-in;
}

.feather-drop {
  animation: feather-down 5.5s ease-in;
}

.game-drop {
  z-index: 1;
  transform: skewX(-30deg);
  animation: game-down 5.5s ease-out;
}

/* math and book drop must be separate to target the class with the image id name */
.math-drop {
  z-index: 1;
  animation: board-down 5.5s ease-in-out;
}

.book-drop {
  z-index: 1;
  animation: board-down 5.5s ease-in-out;
}

.hoop-drop {
  animation: hoop-down 5.5s ease-in-out;
}

.hoop-jump {
  animation: hoop-jump 5.5s ease-in-out;
}

.move-aside {
  animation: move-aside 5.5s ease-in-out;
}


/******************************************************************************************************/
/******************* Keyframes Animations */


@keyframes hoop-jump {
  0% {
    top: 68%;
    left: 44%;
  }
  30% {
    top: 70%;
    left: 60%;
  }
  35% {
    top: 55%;
    left: 52%;
  }
  40% {
    top: 55%;
    left: 36%;
  }
  45% {
    top: 68%;
    left: 28%;
  }
  50% {
    top: 68%;
    left: 28%;
  }

  55% {
    top: 55%;
    left: 36%;
  }
  60% {
    top: 55%;
    left: 52%;
  }
  65% {
    top: 70%;
    left: 60%;
  }
  100% {
    top: 68%;
    left: 44%;
  }
}

@keyframes hoop-down {
  0% {
    top: -25%;
    left: 44%;
  }
  30% {
    top: 60%;
    left: 44%;
  }
  100% {
    top: 60%;
    left: 44%;
  }
}

@keyframes board-down {
  0% {
    top: -25%;
    left: 44%;
  }
  30% {
    top: 56%;
    left: 40%
  }
  90% {
    top: 56%;
    left: 40%
  }
  100% {
    top: -25%;
    left: 44%;
  }
}

@keyframes feather-down {
  0% {
    top: -25%;
    left: 45%;
  }
  30% {
    transform: rotate(360deg);
  }
  45% {
    transform: rotate(0deg);
  }
  60% {
    top: 88%;
    left: 45%;
    transform: rotate(360deg);
  }
  76% {
    transform: rotate(345deg);
  }
  78% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(345deg);
  }
  82% {
    transform: rotate(360deg);
  }
  84% {
    transform: rotate(375deg);
  }
  86% {
    transform: rotate(360deg);
  }
  88% {
    transform: rotate(375deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    top: 88%;
    left: 45%;
  }
}

@keyframes move-aside {
  0% {
    top: 68%;
    left: 44%;
  }
  30% {
    top: 56%;
    left: 47%
  }
  90% {
    top: 56%;
    left: 47%
  }
  100% {
    top: 68%;
    left: 44%;
  }

}

@keyframes game-down {
  0% {
    top: -25%;
    left: 48%;
  }
  30% {
    top: 88%;
    left: 48%;
  }
  100% {
    top: 88%;
    left: 48%;
  }
}

@keyframes ball-down {
  0% {
    top: -25%;
    left: 44%;
  }
  25% {
    top: 78%;
  }
  37% {
    top: 25%;
  }
  45% {
    top: 78%;
  }
  52% {
    top: 35%;
  }
  60% {
    top: 78%;
  }
  75% {
    top: 20%;
  }
  80% {
    top: 78%;
    left: 44%;
  }
  100% {
    top: 0%;
    left: 100%;
  }
}

@keyframes food-down {
  0% {
    left: 42%;
    top: -25%;
  }
  20% {
    top: -25%;
  }
  100% {
    top: 84%;
    left: 42%;
  }
}

@keyframes pace {
  0% {
    left: 36%;
    top: 66%;
  }
  10% {
    left: 40%;
    top: 64%;
  }
  32% {
    left: 33%;
    top: 60%;
  }
  51% {
    left: 40%;
    top: 62%;
  }
  57% {
    left: 43%;
    top: 64%;
  }
  63% {
    left: 38%;
    top: 65%;
  }
  100% {
    left: 36%;
    top: 68%;
  }
}

@keyframes blanket-slide {
  0% {
    right: 25%;
  }
  50% {
    right: 37%;
  }
  93% {
    right: 37%;
  }
  100% {
    right: 25%;
  }
}

@keyframes lying-down {
  0% {
    transform: rotate(0);
    top: 68%;
  }
  25% {
    transform: rotate(-90deg);
    top: 72%;
  }
  98% {
    transform: rotate(-90deg);
    top: 72%;
  }
  100% {
    transform: rotate(0);
    top: 68%;
  }
}

@keyframes dying-down {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-90deg);
    top: 68%;
  }
  100% {
    transform: rotate(-90deg);
    top: -50%;
  }
}

@keyframes white-out {
  0% {
    background-color: rgba(255,255,255,0);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }

}

@keyframes lights-out {
  0% {
    background-color: rgba(22, 22, 52, 0);
  }
  25% {
    background-color: rgba(12, 12, 40, 0.728);
  }
  75% {
    /* background-color: rgba(18, 18, 33, 0.728); */
    background-color: rgba(12, 12, 40, 0.728);
  }
  100% {
    background-color: rgba(22, 22, 52, 0);
  }
}

@keyframes egg-down {
  60% {
    top: 74%;
    left: 40%;
  }
  100% {
    top: 74%;
    left: 40%;
  }
}

@keyframes float-down {
  1% {
    left: 41%;
  }
  2% {
    left: 40%;
  }
  3% {
    left: 41%;
  }
  5% {
    left: 40%;
  }
  8% {
    width: 150px;
    height: 150px;
    left: 40%;
    top: 5%;
  }
  100% {
    top: 75%; 
    left: 45%;
    height: 10px;
    width: 10px;
  }
}

@keyframes start-float {
  0% {
    top: 1%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 1%;
  }
}

@keyframes moon-float {
  0% {
    left: 40%;
    top: 5%;
  }
  50% {
    left: 40%;
    top: 7%;
  }
  100% {
    left: 40%;
    top: 5%;
  }
}

@keyframes warning-blink {
  0% {
    background-color: rgb(59, 186, 215);
  }
  50% {
    background-color: rgb(215, 140, 59);
  }
  100% {
    background-color: rgb(59, 186, 215);
  }
}